body {
    text-align: center;
    width: fit-content;
   margin: auto;
    color: rgb(2, 2, 2);
    font-size: large;
    background-color: rgb(22, 216, 113);
    text-decoration: double;
    border: solid 5px rgb(217, 6, 6);
    border-radius: 50px;
}